#d1{
    border: 2px solid lightgreen;
    width: 100%;
    clear: both;
    text-align: center;
    padding: 15px;
}
#d2{
    border: 2px solid pink;
    width: 50%;
    padding-top: 10px ;
}
#d2-1{
    border: 2px solid red;
    width: 99.7%;
    margin-top: 10px;
}
#d2-1-1{
    border: 2px solid rgb(233, 222, 224);
    width: 99.7%;
}
#d3{
    border: 2px solid black;
    width: 685px;
    float: right;
    margin: 1px;
    padding: 15px;
}
#d4{
    border: 2px solid blue;
    text-align: center;
    clear: both;
    padding: 15px;
}